@{
    ViewData["Title"] = "Home Page";
}
<body id ="HomepageBody">
<img src="" alt="">
<div class="text-center">
    <h1 class="display-4">Welcome to the General Store</h1>
    <p>Follow us on <a href="https://www.facebook.com" class = "text-warning">Facebook</a>.</p>
</div>
</body>
